<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Digital Wardrobe - Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <!-- HEADER -->
    <div class="header">
        <img src="/assets/header-logo.png" alt="Closetly Logo" />
        <div class="profile-info">
            <p id="header-username">Loading...</p>
            <img src="/assets/dummy-profile.png" alt="Dummy Profile pic">
            <button id="logoutButton">Logout</button>
        </div>
    </div>

    <!-- MAIN LAYOUT -->
    <section class="menu">
        <ul>
            <li><a href="#profile" class="active" data-section="profile" onclick="showSection('profile')"><img src="/assets/profile-icons/profile.png" alt="Profile">Profile</a></li>
            <li><a href="#clothes" data-section="clothes" onclick="showSection('clothes')"><img src="/assets/profile-icons/clothes.png" alt="Clothes">Clothes</a></li>
            <li><a href="#outfits" data-section="outfits" onclick="showSection('outfits')"><img src="/assets/profile-icons/outfit.png" alt="Outfits">Outfits</a></li>
            <li><a href="#calendar" data-section="calendar" onclick="showSection('calendar')"><img src="/assets/profile-icons/calendar.png" alt="Calendar">Calendar</a></li>
        </ul>
    </section>
    <div class="content">
        <div id="profile" class="content-container active">
            <h2>User Profile</h2>
            <div id="userDetails">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" readonly>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" readonly>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" name="lastName" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" readonly>
                </div>
            </div>
        </div>

        <!-- Clothes Section -->
        <div id="clothes" class="content-container">
            <!-- header -->
            <div class="clothes-header">
                <h2>Clothing Pieces</h2>
                <button id="addClothingBtn" class="add-clothing-btn">Add New Clothing</button>
            </div>
            <!-- filters -->
            <div id="filterSection" class="filter-section">
                <div class="filter-container">
                    <div class="form-group custom-dropdown">
                        <label for="filterCategory">Filter by Category:</label>
                        <div id="filterCategoryDropdown" class="dropdown">
                            <button class="dropdown-btn">Select Category</button>
                            <div class="dropdown-content" id="filterCategoryList"></div>
                        </div>
                    </div>
                    <div class="form-group custom-dropdown">
                        <label for="filterColor">Filter by Color:</label>
                        <div id="filterColorDropdown" class="dropdown">
                            <button class="dropdown-btn">Select Color</button>
                            <div class="dropdown-content" id="filterColorList"></div>
                        </div>
                    </div>
                    <div class="filter-actions">
                        <button id="applyFiltersBtn" class="apply-btn">Apply</button>
                        <button id="clearFiltersBtn" class="clear-btn">Clear</button>
                    </div>
                </div>
            </div>
            <!-- cards/main body -->
            <div id="clothingPieceList" class="clothing-card-container"></div>
            <div id="noMatchesMessage" style="display: none;">No clothing items match the selected filters.</div>
        </div>

        <div id="outfits" class="content-container">
            <h2>Outfits</h2>
            <ul id="outfitList"></ul>
        </div>

        <div id="calendar" class="content-container">
            <h2>Calendar</h2>
            <ul id="calendarEntryList"></ul>
        </div>
    </div>

    <script type="module">
        import { initializeProfilePage } from '/js/user/user.handlers.js';
        import { ClothingModal } from '/js/clothing/clothing.modal.js';

        function showSection(sectionId) {
            event.preventDefault(); // Prevent default link behavior

            // Get all content sections
            const sections = document.querySelectorAll('.content-container');

            sections.forEach(section => {
                if (section.id === sectionId) {
                    section.classList.add('active');
                } else {
                    section.classList.remove('active');
                }
            });

            // Remove active class from all menu links
            document.querySelectorAll('.menu a').forEach(link => link.classList.remove('active'));

            // Add active class to the selected menu link
            document.querySelector(`.menu a[onclick="showSection('${sectionId}')"]`).classList.add('active');
        }


        window.showSection = showSection;

        document.addEventListener('DOMContentLoaded', () => {
            ClothingModal.init();
            initializeProfilePage();
        });
    </script>
    <script type="module">
        import { initializeAuthHandlers } from "/js/auth/auth.handlers.js";
        document.addEventListener("DOMContentLoaded", () => {
          initializeAuthHandlers();
        });
    </script>
    <script type="module" src="/js/clothing/clothing.modal.js"></script>
    <script type="module" src="/js/clothing/filters.js"></script>

    <!-- confirm delete clothing piece modal -->
    <div id="deleteConfirmationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Confirm Delete</h2>
            <p>Are you sure you want to delete this clothing item?</p>
            <div class="form-buttons">
                <button id="confirmDeleteBtn" class="submit-btn">Yes, Delete</button>
                <button id="cancelDeleteBtn" class="delete-btn">Cancel</button>
            </div>
        </div>
    </div>
    
    <!-- clothing edit modal -->
    <div id="editClothingModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Edit Clothing Item</h2>
            <form id="editClothingForm" class="clothing-form">
                <div class="form-group">
                    <label for="editClothingName">Name:</label>
                    <input type="text" id="editClothingName" name="name" required>
                </div>
                
                <div class="form-group">
                    <label for="editClothingCategory">Category:</label>
                    <select id="editClothingCategory" name="category" required>
                        <option value="">Select a category</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="editClothingImage">Image:</label>
                    <div id="editImagePreview" class="image-preview"></div>
                </div>

                <div class="form-buttons">
                    <button type="submit" class="submit-btn">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>